.App {
	text-align: center;
	background-color: #191a26;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.centered {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

/* SELECTORS */
.selector {
	background-color: rgba(255, 255, 255, 0.1);
	margin: 1rem;
	font-family: "Inter", sans-serif;
	padding: 2rem 8rem;
	border-radius: 0.75rem;

	transition: all 0.5s ease;
}

.selector:hover {
	transform: scale(1.02);
}

.selectorText {
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 700;
	font-size: 2rem;
}

/* DASHBOARD SECTIONS */
.dashboardScreenContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.dashboardSection {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 4rem;
}

.dashboardHeader {
	display: flex;
	flex-direction: column;
	background-color: rgba(46, 52, 73, 0.7);
	padding: 1.25rem 1.5rem 1.25rem 1.5rem;
	border-radius: 0.75rem;
	width: 100%;
	box-sizing: border-box;
}

.dashboardHeaderLine {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	height: 1.5px;
	margin: 0.6rem 0;
}

.dashboardTitle {
	text-align: start;
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 700;
	font-size: 3.25rem;
}

.dashboardHeaderInfoContainer {
	display: flex;
	justify-content: start;
}

.dashboardHeaderInfo {
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.75rem;
	margin-right: 1.5rem;
	font-weight: 300;
}

.dashboardBody {
	background-color: rgba(46, 52, 73, 0.7);
	width: 100%;
	/* padding: 1.25rem 1.5rem 1.25rem 1.5rem; */
	border-radius: 0.75rem;
	margin-top: 1.75rem;
	padding: 1rem 0;
	height: 50vh;
}

.dashboardBodyTitleContainer {
	display: flex;
	justify-content: start;
	padding: 0 1.5rem;
}

.dashboardBodyTitle {
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
	font-weight: 700;
	padding-right: 1rem;
	text-align: start;
}

.dashboardBodyLine {
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.5);
	background-clip: content-box;
	height: 1.5px;
	margin: 0.6rem 0;
	padding: 0 1.5rem;
}

.lapTimeContainer {
	width: 100%;
	overflow: hidden;
	/* border-radius: 0.75rem; */
}

.lapTime {
	display: flex;
	justify-content: start;
	padding: 0.4rem 1.5rem;
}

.lapTimeLight {
	display: flex;
	justify-content: start;
	padding: 0.4rem 1.5rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.lapTimeElement {
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
	font-weight: 400;
	text-align: start;
}

/* ADD SCREEN */
.addScreenContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.addScreenButtonContainer {
	background-color: rgba(46, 52, 73, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.addScreenButton {
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}
